table{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    background-image: linear-gradient(#12bf82, #22b4b3);
    color: white;
    border-collapse:collapse ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
#heading{
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid rgb(214, 214, 214);
}
#rows{
    height: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(214, 214, 214);
    height: 30px;
}
#rows:hover{
    background-color:#22b4b3;
}
#btn{
    margin: auto;
    border: none;
    margin-top: 100px;
    width: 150px;
    height: 40px;
    background-image: linear-gradient(#12bf82, #22b4b3);
    color: white;
    margin-left: 44%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    font-weight: 600;
}
#btn:hover{
    border: 2px solid #12bf82;
    color: #22b4b3;
    background: none;
    cursor: pointer;
}
#confdlt{
    width: 350px;
    height: 200px;
    border: 5px solid white;
    border-radius: 10px;
    visibility: hidden;
    background-image: linear-gradient(#f68004,#d31a5e);
    position: fixed;
    left: 40%;
    top: 200px;
    box-sizing: border-box;
    padding:1% 2%;
}
#ptitle{
    line-height: 0;
    font-size: 25px;
    font-weight: 600;
    color: rgb(235, 233, 233);
    text-align: center;
}
#pinput{
    width: 100%;
    height: 20%;
    background: transparent;
    /* opacity: 40%; */
    border: none;
    border-bottom: 1px solid rgb(199, 199, 199);
    color: white;
    border-radius: 5px;
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}
#pbtn1{
    width: 30%;
    height: 20%;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #1fdd9b;
    margin-top: 9%;
}
#pbtn2{
    width: 30%;
    height: 20%;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #21da99;
    margin-top: 9%;
    margin-left: 40%;
}
#pbtn1:hover, #pbtn2:hover{
    color: rgb(95, 95, 95);
    background-color: white;
    cursor: pointer;
}
